<div class="container-fluid">
  <div class="row">
    <!-- blog content -->
    <div class="col-md-9 p-4">
      <div class="overflow-auto">
        <div class="container">
          {{{ blog_content }}}
        </div>
      </div>
    </div>

    <!-- Side menu -->
    <div class="col-md-3">
      <div class="sticky-top">
        {{#if related}}
        <div class="py-3">
          <div class="container">
            <div class="card text-white p-2">
              <div class="card-header">
                <h5 class="lead"><b>Related Blogs</b></h5>
              </div>

              <div class="card-body">
                <div class="card-text">
                  <ui>
                    {{#related}}
                    <li>
                      <a href="{{link}}" class="text-white">
                    {{title}}
                  </a>
                    </li>
                    {{/related}}
                  </ui>
                </div>
              </div>

            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>