<div class="container-fluid">
  <div class="row">
    <!-- blog content -->
    <div class="col-md-9">
      <div class="overflow-auto">
        <div class="container my-5 px-5">
          {{{ blog_content }}}
        </div>
      </div>
    </div>

    <!-- Side menu -->
    <div class="col-md-3">
      <div class="sticky-top">
        <div class="container m-3">
          <div class="card text-white p-2">
            <div class="card-header">
              <h5>Related Blogs</h5>
            </div>

            <div class="card-body">
              <div class="card-text">blog1</div>
              <div class="card-text">blog2</div>
              <div class="card-text">blog3</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>