<div class="container-fluid black text-white px-5 py-3">
  <div class="bdr-top"></div>
  <div class="row">

    <!-- blog content -->
    <div class="col-md-9 p-4">
      <div class="overflow-auto">
        <div class="container">
          {{{ blog_content }}}
        </div>
      </div>
    </div>

    <!-- Side menu -->
    <div class="col-md-3">
      <div class="sticky-top">
        {{#if related}}
        <div class="py-3">
          <div class="container">
            <div class="card text-white p-2">
              <div class="card-header">
                <strong>RELATED BLOGS</strong>
              </div>

              <div class="card-body">
                <div class="card-text">
                  <ul>
                    {{#related}}
                    <li class="mb-2">
                      <a class="no-decor" href="{{link}}" class="text-white">
                        {{title}}
                      </a>
                    </li>
                    {{/related}}
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
        {{/if}}
        <div class="py-3">
          <div class="container">
            <script src="//servedby.studads.com/ads/ads.php?t=MTgwMjI7MTE4OTY7c3F1YXJlLnNxdWFyZV9ib3g=&index=1"></script>
            <!-- Ezoic - sidebar_floating_1 - sidebar_floating_1 -->
            <!-- <div id="ezoic-pub-ad-placeholder-103"> </div> -->
            <!-- End Ezoic - sidebar_floating_1 - sidebar_floating_1 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bdr-top"></div>
</div>