<div>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand mx-2 invert-effect" href="/">
          <img src="/assets/tbb.png" alt="TBB">
        </a>
        <!-- <a class="navbar-brand" href="/">TBB</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" data-bs-theme="dark" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Me</a>
            </li>
          </ul>
          <form class="d-flex me-5" role="search">
            <input class="form-control me-2" type="search" placeholder="Search blog" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  {{{content}}}

  <footer class="footer-section">
    <div class="container text-white text-center p-3">
      <small class="m-2">Made with &hearts; by Ankit Sangwan</small>
    </div>
  </footer>
</div>