a {
  text-decoration: none;
}

.header,
.header-section {
  background-color: #000000!important;
}

.round-element {
  border-radius: 10px;
}

.round-bottom-element {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.round-top-element {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  background-color: #000000!important;
}

.lifted {
  transition: transform 0.2s ease-in-out;
}

.lifted:hover {
  transform: translateY(-10px);
}

.raised {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.2s;
}

.raised:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.floating-card {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 250px;
  width: 300px;
  padding: 10px;
  z-index: 9999;
}

.footer-section {
  background-color: #000000!important;
}

.image-card {
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 0%, black 30%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.invert-effect {
  filter: invert(100%);
}

.blend-bottom {
  -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 0%, black 30%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.two-third-size {
  height: 70%;
  width: 70%;
  object-fit: cover;
}

.code-block {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.code-block:before {
  content: '$ ';
  color: #0f0;
  display: inline-block;
  margin-right: 5px;
}

.code-block-simple {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}